__pycache__/
*.py[cod]
*$py.class

*.so

*.egg
*.egg-info/
dist/
build/
*.pyd

.DS_Store
Gemfile.lock

python/cirron/cirronlib.cpp
python/cirron/apple_arm_events.h
ruby/lib/cirronlib.cpp
ruby/lib/apple_arm_events.h
